
$primary-color: #D02B87;

$black: #1A1A1A;
$light-black: #262626;
$shadow-lg: 0 1rem 3rem rgba(0,0,0,.175)!important;

// admin colors
$admin-primary-color: #300e34;
$admin-menu-hover-color: #511a57;