@import 'variables';
@import 'side-menu';

html,body{
    @media(max-width: 330px){
        font-size: 15px;
    }
    @media(max-width: 290px){
        font-size: 13px;
    }
}

body{
    background-color: $black;
    color: white !important;

    
}
.shopping-cart-link{
    position: relative;

    .cart-item-count{
        position: absolute;
        right: 35px;

        @media(max-width: 769px){
            right: 3px;
        }
    }
}
.navbar{
    flex-wrap: nowrap;
}
.dropdown-menu{
    background: $light-black;
    @media(max-width: 769px){
        background: lighten($light-black, 10%);
    }
    li{

        a{
            color: white;
            &:hover{
                background: lighten($light-black, 10%);
                color: white;
            }
        }
    }
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}
.btn{
    text-transform: capitalize;
}
.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover{
        background-color: darken($color: $primary-color, $amount: 10%);
        border-color: darken($color: $primary-color, $amount: 10%);
    }

    &:active{
        background-color: darken($color: $primary-color, $amount: 10%);
        border-color: darken($color: $primary-color, $amount: 10%);
    }

    &:focus{
        background-color: darken($color: $primary-color, $amount: 10%);
        border-color: darken($color: $primary-color, $amount: 10%);
    }
}


.btn-default{
    background-color: transparent;
    border-color: transparent;
    color: white;

    &:hover{
        background-color: transparent;
        border-color: transparent;
        color: white;
    }

    &:active{
        background-color: transparent;
        border-color: transparent;
    }

    &:focus{
        background-color: transparent;
        border-color: transparent;
    }
}
.btn-outline-primary{
    color: white;
    border-color: $primary-color;

    &:hover{
        border-color: $primary-color;
        color: white;
        background-color: transparent;
    }

    &:active{
        border-color: $primary-color;
        color: white;
    }

    &:focus{
        border-color: $primary-color;
        color: white;
    }
}
.top-search-bar{
    width: 500px;
    input{
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
        background-color: $black;
        border-right: none;
        color: white !important;

        &:focus{
            background-color: $black;
        }
    }
    button{
        border-top-right-radius: 30px !important;
        border-bottom-right-radius: 30px !important;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-left: none;

        &:hover{
            background-color: $black;
            border: 1px solid #ced4da;
            border-left: none;
        }
        &:focus{
            background-color: $black;
        }
    }
}
.text-primary{
    color: $primary-color !important;
}
.bg-dark{
    background-color: $black !important;
}
.homepage-header{
    min-height: 100vh;
    background-image: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}
.border-left-primary{
    border-left: 3px $primary-color solid;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-link{
    color: white;

    &:hover{
        border-color:transparent;
    }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: transparent;
    color: white;
    border-color: transparent;
    border-bottom: 2px solid $primary-color;
}
.movie-thumb{
    width: 165px;//200px;
    height: 250px;//300px;
    overflow: hidden;
    border-radius: 20px;

    @media(max-width: 769px){
        width: 150px;
        height: 220px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.slick-list{
    // overflow: visible;
}
.movie-thumb-list{
    position: relative;

    .movie-thumb-details{
        display: none;
        position: absolute;
        top: -78px;
        left: -93px;
        background: $light-black;
        width: 370px;
        height: 422px;
        padding:20px;
        border-radius: 10px;
        box-shadow: $shadow-lg;
        z-index: 1031;

        .modal-details-image-box{
            width: 170px;
            height: 226px;
            margin: auto;
            overflow: hidden;
            border-radius: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }


}
.no-decoration{
    text-decoration: none !important;
}
.underline{
    position: relative;
    width: fit-content !important;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        border-bottom: 3px solid $primary-color;
        width: 100%;
    }
}
.accordion-button:not(.collapsed){
    color: $primary-color;
}
.best-pick-cover{
    position: relative;
    width: 100%;
    @media(min-width: 679px){
        width: 550px;
    }

    .best-pick-text{
        position: absolute;
        width: 400px;
        height: 230px;
        right: -150px;
        bottom: -70px;

        @media(max-width: 769px){
            position: absolute;
            width: 80%;
            left: 10%;
            bottom: -150px;
            height: 250px;
        }

        .best-pick-text-description{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media(max-width: 769px){
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
    }
}
.ellipsis-3-lines{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-pick-col-2{
    @media (max-width: 769px) {
        margin-top: 180px;
    }
}
.ready-to-watch{
    background-image: url(../images/ready-to-watch-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
    min-height: 400px;
}

.faqs{
    .accordion-button{
        background-color: white !important;
    }
}
footer{
    background-color: $light-black;
}
.slick-slide{
    // width: 220px !important;
}
.slick-dots{
    list-style: none;
    li{
        margin-bottom: 5px;
        @media(max-width: 769px){
            margin-bottom: 0px;
        }
        button{
            background-color: white;
            border-radius: 100%;
            height: 25px;
            color: white;
            width: 25px;
            border: none;
            font-size: 0;
            @media(max-width: 769px){
                height: 15px;
                width: 15px;
            }

            
        }
    }
    .slick-active{
        button{
            background-color: $primary-color;
            color: $primary-color;
        }
    }
}
.tab-pane{
    position: relative;
    #featured-dots,#soon-dots,#award-dots{
        position:absolute;
        top: 60px;
        right: -60px;

        @media(max-width: 769px){
            top: 20px;
            right:0px;
        }
    }
}
.full-slide-dots{
    
    position:absolute;
    margin-top: 100px;
    right: -60px;


    @media(max-width: 769px){
        display: none;
    }

    .slick-dots{
        padding-right: 10px;
    }
}

.side-menu{
    .side-menu-link{
        text-decoration: none !important;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .side-menu-icon{
            width: 20px;
            
        }
    }
    
}

.bg-primary{
    background: $primary-color !important;
}

.movie-details-modal{
    .modal-dialog{
        max-width: 400px;
    }
    .modal-details-image-box{
        width: 220px;//150px !important;
        height: 300px;
        margin: auto;
        overflow: hidden;
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .modal-body{
        background: $light-black;
    }

}
